{{!-- Created handlebars for making a comment on an existing post --}}
<div class="text-center">
    <h2>{{ title }}</h2>
    <p>{{ content }}</p>
    <p>Created by {{ user.name }} on {{ format_date date_created }}</p>
    
    <form id="new-comment-form" data-post="{{id}}">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <input type="text" class="form-control" id="post-comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form>
    
{{#if comments.length}}
  <div class="col-md-6 post-list">
    <h3>Comments:</h3>

    {{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{comment.id}}">{{comment.body}}</a></h4>
     
      </div>
      <div class="col-md-4">
       
      </div>
    </div>
    {{/each}}
  
  {{/if}}
</div>

<script src="/js/post.js"></script>